*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color:inherit;
    text-decoration: none;
    display: block;
}
p a{
    display: inline;
}
img , picture , video , iframe , svg {
    display: block;
    width: 100%;
    height: initial;
}
svg{
    fill: currentColor;
}
html{
    scroll-behavior: smooth;
}

form , input , label , select , option , textarea , button{
    font-size: inherit;
    font-family: inherit;
    display: block;
    line-height: inherit;
    background-color: transparent;
}
:root{
    font-size: 100%;

    /* Color */
    --color-primary: white;

    /* Tipografías */
    --font-primary : Helvetica, Arial;
    
    /* Espacios */
    --margin-primary: 0 0 1rem;

    
}
body{
    font-family: var(--font-primary) ;
}






.Header{
    width: 100%;
    background-color: #F29400;
    position: relative;
}

.Header-h1{
    width: 100%;
    background-color: #F29400;
    min-height: 4.125rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 26.5625rem;
    color: white;
    font-size: 1.3em;
    font-weight:800;
    letter-spacing: 0.5px;

    
}

.Header-nav{
    width: 100%;
    background: rgb(225,226,227);
    background: linear-gradient(0deg, rgba(225,226,227,1) 17%, rgba(182,184,185,1) 79%);
    display: flex;
    flex-flow: column;
    min-height: 2.8125rem;
    
}

.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 27rem;
    gap: 3.125rem;
    margin: auto 0;
    font-size: .88em;
    
}
.Header-li{
    display: flex;
    color: #666668;
}

.Header-li:nth-child(1)::after,
.Header-li:nth-child(2)::after,
.Header-li:nth-child(4)::after {
    content: ">";
    transform: rotate(90deg);
    font-size: 12px; 
    margin-left: 5px; 
    color: #666668; 
    font-weight: bold;
    font-size: 1em;
}

.Slider{
    width: 100%;
    position: relative;
}

.Slider-container{
    position: relative;
}

.Slider-img{
    max-height: 25rem;
    object-fit: cover;
    position: absolute;
    top: 0;

    opacity: 0;
    transition: all .5s ease;
}

.Slider-img:first-child{
    opacity: 1;
}

.Slider-img.isVisible{
    opacity: 1;
    
}

.Slider-img:first-child{
    position: static;
}

.Slider-arrow{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: calc( 50% - 1rem);
    
}
.Slider-arrow:hover{
    cursor: pointer;
    transform:scale(.95)

}

.Slider-arrow--next{
    right:8.9375rem;
}
.Slider-arrow--prev{
    left:8.9375rem;
}

.Slider-ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    bottom: 1.5625rem;
}

.Slider-btn{
    background-color: grey;
    opacity: .7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.Slider-btn.isActive{
    background-color: white;
}










@media (max-width: 1300px){
    .Header-h1 , .Header-ul{
        padding: 0 0 0 10rem;
    }
}

@media (max-width: 1000px){
    .Header-ul{
        display: none;
    }
    .Header-h1{
        padding:1rem;
    }
}

@media (max-width: 900px){
    .Slider-arrow--next{
        right:4rem;
    }
    .Slider-arrow--prev{
        left:4rem;
    }
}

@media (max-width: 480px){
    .Slider-arrow--next{
        right:1rem;
    }
    .Slider-arrow--prev{
        left:1rem;
    }
}

