*{
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}

li{
    list-style: none;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-size: inherit;
    font-weight: inherit;
}
a{
    color:inherit;
    text-decoration: none;
    display: block;
}
p a{
    display: inline;
}
img , picture , video , iframe , svg {
    display: block;
    width: 100%;
    height: initial;
}
svg{
    fill: currentColor;
}
html{
    scroll-behavior: smooth;
}

form , input , label , select , option , textarea , button{
    font-size: inherit;
    font-family: inherit;
    display: block;
    line-height: inherit;
    background-color: transparent;
}
:root{
    font-size: 100%;

    /* Color */
    --color-primary: white;
    --color-secondary:#5C5C5D;
    --color-tertiary:#D9D9D9;
    --color-hover:#F29400;
    --bg-hover:#ED6600;
    --bg-color:#F29400;
    --bg-color-second:#ECECEC;
    --bg-color-foot:#3C3C3B;

    /* Tipografías */
    --font-primary : Helvetica, Arial;
    
    /* Espacios */
    --margin-primary: 0 0 1rem;

    
}
body{
    font-family: var(--font-primary) ;

}



/*Cabecera*/


.Header{
    width: 100%;
    background-color: var(--bg-color);
    position: relative;
}

.Header-h1{
    width: 100%;
    background-color: var(--bg-color);
    min-height: 4.125rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 calc((427 / 2047) * 100%);
    color: var(--color-primary);
    font-size: 1.3em;
    font-weight:800;
    letter-spacing: 0.5px;
}

.Header-nav{
    width: 100%;
    background: rgb(225,226,227);
    background: linear-gradient(0deg, rgba(225,226,227,1) 17%, rgba(182,184,185,1) 79%);
    display: flex;
    flex-flow: column;
    min-height: 2.8125rem;

    position: relative;
    
}

.Header-svg{
    width: 2.5rem;
    display: none;
    margin: 1rem 0 1rem 1rem;
    color: var(--color-secondary);
}

.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 calc((440 / 2047) * 100%);
    gap: 1rem;
    margin: auto 0;
    font-size: .88em;

}

.Header-li{
    display: flex;
    padding: .5rem 1rem;
    color: #666668;
    cursor: pointer;

    position: relative;
}

.Header-li:nth-child(1)::after,
.Header-li:nth-child(2)::after,
.Header-li:nth-child(4)::after {
    content: ">";
    transform: rotate(90deg);
    font-size: 12px; 
    margin-left: 5px; 
    color: #666668; 
    font-weight: bold;
    font-size: 1em;
}

.Header-li:hover{
    background-color: var(--bg-hover);
    color: var(--bg-color);
}
.Header-li:hover::after{
    color:var(--bg-color);
}

.Sublist-ul{
    min-width: 10rem;
    display: none;
    background-color: var(--bg-color-second);
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.Sublist-li{
    background-color: transparent;
    padding: 0.5rem 1rem; 
    color: var(--color-secondary);
    white-space: nowrap;
    border-bottom: solid 1px var(--color-tertiary);
    cursor: pointer;

}

.Sublist-li:hover{
    background-color: var(--bg-hover);
    color: var(--bg-color); 
}

.Header-li:hover  .Sublist-ul{
    display: block;
}






/*Slider de imagenes*/

.Slider{
    width: 100%;
    position: relative;
}

.Slider-container{
    width: 100%;
    position: relative;
}

.Slider-img{
    max-height: 25rem;
    object-fit: cover;
    position: absolute;
    top: 0;

    opacity: 0;
    transition: all .5s ease;
}

.Slider-img:first-child{
    opacity: 1;
}

.Slider-img.isVisible{
    opacity: 1;
    
}

.Slider-img:first-child{
    position: static;
}

.Slider-arrow{
    width: 3rem;
    height: 3rem;
    opacity: .5;
    position: absolute;
    top: calc( 50% - 1rem);
    
}
.Slider-arrow:hover{
    cursor: pointer;
    opacity: 1;
    transform:scale(.95)

}

.Slider-arrow--next{
    right: calc((157 / 2047) * 100%);
}
.Slider-arrow--prev{
    left:calc((157 / 2047) * 100%);
}

.Slider-ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 7px;
    position: absolute;
    bottom: 1.5625rem;
}

.Slider-btn{
    background-color: grey;
    opacity: .7;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}


.Slider-btn.isActive{
    background-color: var(--color-primary);
}


/*Informacion de contacto y horarios*/

.Info{
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem 0 1rem 0;

    color: var(--color-primary);
    

}
.Info-block{
    width: 30vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.Info-block.left{
    align-items: flex-start;
    text-align: left;
    padding-left: calc((416 / 2047)* 100%);
    white-space: nowrap;
}

.Info-block.right{
    align-items: flex-end;
    text-align: right;
    padding-right: calc((416 / 2047)* 100%);
    
}

.Info-span{
    line-height: 1.5rem;
}

.Info-span--end{
    margin: 2rem 0;
    
}
.Info-h2{
    line-height: 2rem;
    font-weight: bold;
    font-size: 1.3em;
}
.Info-h3{
    font-size: 2em;
}


/*Servicios*/

.Services{
    max-width: 75rem;
    margin: auto;
    text-align: center; /* Alinea el texto al centro */
    padding: 1.25rem;
    overflow: visible;

    position: relative;
}

.Services-title{
    margin-bottom: 1.25rem;
}

.Services-h2{
    margin: 2rem 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--bg-hover);
    position: relative;
}

.Services-h2::after{
    content: ""; 
    display: block;
    max-width: 100%; 
    min-height: 1px;
    background-color:var(--bg-hover);
    margin: 1rem auto 2.9375rem;
}

.Services-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: auto;
    gap: 1.5rem;
    margin:0 0 3rem; 
}

.Services-container{
    height: 100%;
    background-color: var(--bg-color-second);
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.Services-svg{
    width: 3.3rem;
    background-color: var(--bg-color);
    margin: auto;
    border-radius: 50%;
    color: var(--color-primary);
}

.Services-h3{
    margin: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg-color);
}

.Services-p{
    text-align: center;
    font-size: 1em;
    color: var(--color-secondary);
}

.Services-btn{
    width: 100%;
    background-color: var(--bg-color);
    margin:0 0 2rem;
    padding: 1rem;
    color: var(--color-primary);
    cursor: pointer;
}

.Services-btn:hover{
    background-color: var(--bg-hover);
}

.Services--second{
    width: 100%;
    background-color: var(--bg-color-second);
}

.Services-grid--second{
    max-width: 75rem;
    background-color: var(--bg-color-second);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem 0 1rem;
    gap: 2rem;
    margin: auto;
}





/*Consejo*/

.Advice{
    max-width: 75rem;
    margin: 4rem auto;
    padding: 1rem;
}
.Advice-h2{
    margin: 2rem 0 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--bg-hover);
    position: relative;
}

.Advice-h2::after{
    content: ""; 
    display: block;
    max-width: 100%; 
    min-height: 1px;
    background-color:var(--bg-hover);
    margin: 1rem auto 2.9375rem;
}

.Advice-img{
    width: 100%;
    object-fit: contain;
}

.Advice-bg{
    background-color: var(--bg-color);
    border-bottom: solid 1px var(--bg-color);
}

.Advice-h3{
    padding: 1rem;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-primary);

}
.Advice-p{
    background-color:white;
    padding:1rem;
   margin: 1px;
   color: var(--color-secondary);
   line-height: 1.2rem;
}





/*Mapa*/

.Map{
    width: 100%;
    max-height: 37.625rem;
    margin: 3rem 0 0;
}

.Map-img{
    width: 100%;
    max-height: 37.625rem;
    object-fit: cover;
}



/*Formulario*/

.Offers{
    background-color: var(--bg-color);
    padding: 2rem 2rem;
}

.Offers-container {
    max-width: 75rem;
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .5rem;
    margin: auto;
    text-align: center;
    color: var(--color-primary);
}

.Offers-h2{
    margin: 1rem 0 0;
    font-size: 2em;
    font-weight: bold;
    
}

.Offers-span{
    font-size:1.3em ;
}

.Offer-form{
    max-width: 75rem;
    display: flex;
    flex-flow: column;
    gap: 1rem; 
}

.Offer-fields{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0 2.75rem;
    gap: 1rem;
    text-align: left;
}

.Offer-plh{
    width: 100%;
    background-color: var(--color-primary);
    padding: 1rem 3rem;
    margin: 2rem 0;
}

.Offer-terms{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 2.75rem;
    padding: 0 0 2rem 0;
    gap: .5rem;
    text-align: left;
}

/* Estilos para el checkbox */

.Offer-button{
    width: 1rem; 
    height: 1rem; 
    background-color: var(--color-primary);
    cursor: pointer;
    position: relative;

    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.Offer-button.Isactive{
    background-color: var(--bg-hover); 
    
}

.Offer-button.Isactive::after{
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}


/* Estilos para los enlaces */
.Offer-terms a{
    display: inline;
    text-decoration: underline;
}

.Offer-terms a:hover{
    text-decoration: none;
}

/* Estilo para el botón de envío */
.Offer-input{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: auto;
}
.Offer-submit{
    background-color: var(--bg-color);
    padding: 1rem 9.5625rem;
    color: var(--color-primary);
    border: solid 2px var(--color-primary);
    cursor: pointer;

    transition: background-color .3s ease-in-out;
    
}

.Offer-submit:hover{
    background-color: var(--bg-hover);
    color: var(--color-hover);
    border: none;
}





/*Footer*/
.Footer{
    width: 100%;
    background-color: var(--bg-color-foot);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: var(--color-tertiary);
}
.Footer-container{
    width:100%;
    
}

.Footer-wrapper{
   width: 75rem;
   margin: auto;
   padding:0 2rem;
}

.Footer-h2{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 1rem;
}
.Footer-ul{
    margin: 0 0 3rem;
}
.Footer-li{
    padding: .3rem 0;
    text-decoration: underline;
    cursor: pointer;
}

.Footer-li:hover{
    color: var(--color-hover);
    text-decoration: none;
}

.Footer-copyright{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0;
    padding: 1rem 0 0;
    border-top: solid 1px var(--color-primary);
}
.Footer-span{
    font-size: .9em;
}





                












/*Responsive*/


@media (max-width: 1500px){
    .Info-block.right , .Info-block.left {
        padding: 0;
        
    }
}

@media (max-width:1300px){
    .Footer-wrapper{
        width: 100%;
        padding: 0 2rem;
    }
}

@media (max-width: 1200px){
    .Slider-img{
        min-height: 25rem;
    }
}

@media (max-width: 1000px){
    .Header-ul{
        width: 100%;
        max-height: 0;
        display: flex;
        flex-direction: column; /* Siempre columna por defecto */
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
    }
    .Header-h1{
        padding:1rem;
    }
    .Header-svg{
        display: block;
    }
    .Header-ul.Isactive{
        max-height: 30vh;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 1rem 0;
        
    }
    .Header-li{
        width: 100%;
        border-bottom: solid 1px var(--bg-hover);
        margin: 0 .5rem;
        position: relative;
    }
    .Header-li:nth-child(1){
        padding-top: 1rem;
        border-top: solid 1px var(--bg-hover);
    }
    .Header-ul li::after {
        position: absolute;
        right: 1rem;
    }
    .Sublist-ul{
        display: none;
        background-color: #f9f9f9; 
        width: 100%; 
        padding: 0; 
        position: absolute; 
        top: 100%; 
        left: 0; 
        z-index: 1;
    }

    .Sublist-ul.Open{
        display: block;
    }

    .Sublist-li{
        padding: 0.5rem 1rem; 
        border-top: 1px solid #e0e0e0; 
        width: 100%; 
    }

    .Sublist-li:hover{
        background-color: var(--bg-hover); 
        color: var(--bg-color); 
    }
}
   

@media (max-width: 990px){
    .Services-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 1.5rem;
    }
    .Offer-fields{
        flex-flow: column;
    }
    .Offer-plh{
        margin: .5rem;
    }
}

@media (max-width: 960px){
    .Info , .Info-block , .Info-block.left , .Info-block.right{
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        white-space: nowrap;
        margin:3.1875rem 0 0 0;
        padding: 0 0 2.5rem;

    }
}

@media (max-width: 960px){
    .Info{
        overflow-x: auto;
        margin: auto;
    }
    .Offer-submit{
        width: 100%;
        margin: 0 2rem;
    }

}

@media (max-width:770px){
    .Services-grid--second{
        flex-flow: row wrap;
    }
    .Footer{
        text-align: center;
    }
}

@media (max-width:600px){
    .Slider-ul{
        bottom: .5rem;
    }
}

@media (max-width:580px){
    .Services-grid{
        grid-template-columns: repeat(1, 1fr);
        
    }
}

@media (max-width:500px){
    .Offer-submit{
        padding: 1rem 30%;
    }
    .Offer-plh{
        padding: 1rem .2rem;
    }
    
}

@media (max-width: 300px){
    .Info-span{
        white-space: normal;
        word-wrap: break-word;
    }
}


